# React / Node
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/

# C# .NET
backend/bin/
backend/obj/
backend/*.user
backend/.vs/
backend/appsettings.Development.json

# Python
microservice-data/__pycache__/
microservice-data/*.pyc
microservice-data/.venv/
microservice-data/.env

# Divers
.DS_Store
*.log